/* Common styles */
html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .container-fluid {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        /* Header alignment */
        .header {
            display: flex;
			color:gray;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0px 0px 10px;
            border-bottom: 2px solid #ddd;
        }
        /* Spacing for visibility toggle links */
        .toggle-links {
            padding: 15px 15px 0px 15px;
        }
        /* Ensuring footer stays at bottom */
        footer {
            background-color: #f8f9fa;
            padding: 10px;
            text-align: right;
            border-top: 2px solid #ddd;
        }
		
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.table-container {
padding: 0px !important;	
   width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    max-height: 100%; /* Ensures vertical scrolling does not happen */
    position: relative;
}
body {
  background-color: #121212;
  color: #F0F0F0;
}

body, div, section, article, aside, nav, footer, header, p, span, li, /*td,
th,*/ address, pre, blockquote, form, fieldset, ul, ol, dl, dt, dd {
  background-color: #212121;
  border-color: #555;
}

a {
  color: #ADD8E6;
}

a:hover,
a:focus {
  color: #87CEFA;
}

input,
textarea,
select {
  background-color: #4b5563 !important;
  color: #F0F0F0 !important;
  border-color: #555;
}

.flex-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
hr {
  border-color: #555;
}
body { 
  font: 18px/1.3em 'ColaborateThinRegular', sans-serif;
}

h1 {
  font: 32px/1em 'GibsonBold', serif;
  text-transform: uppercase;
  color: #827E7E;
}

h2 {
  font: 22px/1em 'GibsonBold', serif;
  text-transform: uppercase;
  color: #827E7E;
}

#logo {
  margin-top: 20px;
}

#logo img { width: 170px; }
.container {
    position: relative;
    padding: 5px;
}
.left-text {
    position: absolute;
    left: 0;
    padding-bottom: 20px;
}
.right-text {
    position: absolute;
    right: 0;
    padding-bottom: 20px;
}
.toggle-btn {
            position: fixed;
            top: 10px;
            right: 20px;
            background: transparent;
            border: none;
            cursor: pointer;
            font-size: 24px;
        }
@font-face {
    font-family: 'GibsonSemiBold';
    src: url('/css/fonts/gibson-semibold-webfont.eot');
    src: url('/css/fonts/gibson-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gibson-semibold-webfont.woff') format('woff'),
         url('/css/fonts/gibson-semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/gibson-semibold-webfont.svg#GibsonSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GibsonBold';
    src: url('/css/fonts/gibson-bold-webfont.eot');
    src: url('/css/fonts/gibson-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/gibson-bold-webfont.woff') format('woff'),
         url('/css/fonts/gibson-bold-webfont.ttf') format('truetype'),
         url('/css/fonts/gibson-bold-webfont.svg#GibsonBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('/css/fonts/ColabThi-webfont.eot');
    src: url('/css/fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/ColabThi-webfont.woff') format('woff'),
         url('/css/fonts/ColabThi-webfont.ttf') format('truetype'),
         url('/css/fonts/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateRegRegular';
    src: url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/ColabReg-webfont.svg#ColaborateRegRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AlegreyaBold';
    src: url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.eot');
    src: url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.woff') format('woff'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.ttf') format('truetype'),
         url('http://www.housingstudies.org/static/css/fonts/Alegreya-Bold-webfont.svg#AlegreyaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


.font-red {
    color: #FF0000 !important;
    font-style: italic !important;
}

.font-black {
    color: #121212;
}

.highlight-green-0 {
    background-color: rgba(0, 255, 0, 0.4) !important;
}

.highlight-green-1 {
    background-color: rgba(0, 255, 0, 0.2) !important;
}

.highlight-green-2 {
    background-color: rgba(0, 255, 0, 0.3) !important;
}

.highlight-green-3 {
    background-color: rgba(0, 255, 0, 0.4) !important;
}

.highlight-green-4 {
    background-color: rgba(0, 255, 0, 0.5) !important;
}

.highlight-green-5 {
    background-color: rgba(0, 255, 0, 0.6) !important;
}

.highlight-green-6 {
    background-color: rgba(0, 255, 0, 0.7) !important;
}

.highlight-green-7 {
    background-color: rgba(0, 255, 0, 0.8) !important;
}

.highlight-green-8 {
    background-color: rgba(0, 255, 0, 0.9) !important;
}

.highlight-green-9 {
    background-color: rgba(0, 255, 0, 1) !important;
}