/* Dark styles */

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: black;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}


#table-container-table th:first-child,
#table-container-table td:first-child {
	padding: 0px !important;
  position: sticky;
  left: 0;
  background-color: #121212;
  z-index: 1;
}


.toggle-vis-all {
  display: inline-block; /* Allows setting width and height */
  padding: 5px 5px; /* Adjust padding as needed */
  background-color: #2563EB; /* Green background color */
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
}

.toggle-vis {
  display: inline-block; /* Allows setting width and height */
  padding: 5px 5px; /* Adjust padding as needed */
  background-color: #2563EB; /* Green background color */
  color: white; /* White text color */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
}
